
.logo {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}

.texto{
    display: block;
    padding-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.h1{
    color: #7A631D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 0;

}

.h1 strong {
    color: #DEAA0D;
}


.simbolo{
    display: block;
    position: absolute;
    right: 0px;
    width: 25%;
}

.div_buttons{

    padding: 50px;
    margin-left: auto;
    margin-right: auto;

}

.botao_receita_despesa{
    
    

    width: 180px;
    height: 50px;
    border: none !important;
    background: #F7BC0A;
    box-shadow: 0px 0px 0px #7A631D;
    border-radius: 20px;

    color: #7A631D;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}

.botao_receita_despesa:hover{
    
    width: 180px;
    height: 50px;
    border: none !important;
    background: #7A631D;
    box-shadow: 0px 4px 4px #7A631D;
    border-radius: 20px;

    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}



